<div class="row">
  <div class="col-xs-2 col-sm-3 col-md-4 uneaten">
      <h3>Burger Menu</h3>
      {{#each burgers}}
    <form action="/{{this.id}}?_method=DELETE" method="POST">
        
          <p>{{this.id}}. {{this.burger_name}}  <button type="submit" class="btn btn-warning btn-xs" id="devour">Devour</button></p>        
    </form>    
      {{/each}}
    
  </div>
  <div class="col-xs-8 col-sm-6 col-md-4 text-center" id="sign">
  		<img src="assets/img/burger.jpeg">
  		<h1>Eat-Da-Burger!</h1></div>
  <div class="col-xs-2 col-sm-3 col-md-4"></div>
</div>

<div class="row">
  <div class="col-xs-2 col-sm-3 col-md-4">   
  </div>
  <div class="col-xs-8 col-sm-6 col-md-4 text-center" id="addBurger">
  	<form method="POST" action="/create">
  		<p>Enter the kind of burger you like.</p>
      <p>Then click "add Burger"</p>
  		<textarea class="form-control" rows="2"></textarea>
      <br>
		  <button type="submit" class="btn btn-primary btn-md" id="submit">Add Burger</button>
	  </form>	
  </div>
  <div class="col-xs-2 col-sm-3 col-md-4">
    
  </div>
</div>
